<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>WanderSafe - Avoid the bad parts of town with our Android App!</title>
</head>
<body>
  <img src="static/wandersafe-logo.png" alt="WanderSafe" style="position: absolute; left: 50%; top: 50%; margin-top: -80.5px; margin-left: -374.5px;">
  <script>
    if (navigator.geoLocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            location.href = '/map/' + position.coords.latitude + '/' + position.coords.longitude + '/1000';
        });
    }
  </script>
</body>
</html>
